{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <h4>{{ post.author }}</h4>
        <p>{{ post.content }}</p>
        {% if current_user.is_authenticated %}
            <button style="width: 90px; height: 30px; text-align: center; font-size: 15px" type="button" onclick="window.location='/comment/{{ post.id }}';">Comment</button>
        {% endif %}
        {% for comment in post.comments %}
        <div style="display: flex; flex-direction: row;">
            <p>{% for i in range(comment.level) %}==={% endfor %}>{{ comment.user }}: {{ comment.content }}</p>
            {% if current_user.is_authenticated %}
            <a class="ml-2" href="/comment/{{ comment.id }}">Reply</a>
            {% endif %}
        </div>
        {% endfor %}
    {% endfor %}
{% endblock content %}